@import "../../../style/partials/variables";

.modal-header {
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid black;
  background: $clr-yellow;
  color: black;
  font-weight: 700;
  text-align: center;
  font-size: 1.125rem;
}

.modal-body {
  padding: 0.5rem 1.125rem;
  font-size: 1.125rem;
  text-align: center;
}

.modal-footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  button {
    &:last-of-type {
      background: red;
    }
  }
}
