@import "../../../style/partials/variables";
@import "../../../style/partials/mixins";

aside {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 999;
  height: 100%;
  width: 450px;
  background: #fff5;
  backdrop-filter: blur(8px);
  overflow: auto;
  padding: 2.5rem 3.25rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  .back-arrow {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    font-size: 2rem;
    display: none;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  h2 {
    font-size: 2.25rem;
    font-weight: 700;
  }
  .input-field {
    input {
      width: 100%;
    }
  }
  @include for-size(phone-only) {
    position: fixed;
    width: 85%;
    background: #fff;
    left: -100%;
    padding: 2.5rem 1.75rem;
    h2 {
      font-size: 1.75rem;
    }
    .back-arrow {
      display: block;
    }
  }
}

.show {
  left: 0 !important;
}
.cards_container {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  margin-block: 2rem;
}

.card-content {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1.5rem 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.5rem;
  img {
    width: 8rem;
  }
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-weight: 700;
  }
  @include for-size(phone-only) {
    gap: 0.75rem;
    img {
      width: 6rem;
    }
  }
}
