@import "./variables";

@mixin trans($val...) {
  -webkit-transition: $val;
  -moz-transition: $val;
  -o-transition: $val;
  transition: $val;
}

@mixin button(
  $padding: 0.5rem,
  $border-radius: 0,
  $background-color: #ccc,
  $color: #000,
  $font-size: 1rem
) {
  @if $border-radius > 0 {
    border-radius: $border-radius;
  }
  padding: $padding;
  display: inline-block;
  border: 0;
  outline: none;
  cursor: pointer;
  color: $color;
  background-color: $background-color;
  text-transform: uppercase;
  font-size: $font-size;
  @include trans(0.2s all ease-in-out);
  &:hover {
    background-color: darken($background-color, 3%);
  }
  &:focus {
    background-color: darken($background-color, 5%);
  }
  &:disabled {
    background-color: gray;
    cursor: inherit;
  }
}

@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) {
      @content;
    }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) {
      @content;
    }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) {
      @content;
    }
  }
}
