:root {
  font-family: "Roboto", sans-serif;
}

main {
  margin-left: 23.5rem;
  height: calc(100vh - 88px);
}

.main-container {
  padding: 5.5rem 8rem;
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  width: 100%;
  overflow: hidden;
  height: calc(100vh - 88px);
}

.main-container img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 100%;
  min-width: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
}

.main-container .image-description {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: center;
  overflow: hidden;
  font-size: 1.5rem;
  font-weight: 900;
  max-width: 80%;
  margin: 0 auto;
  line-height: 1.5;
}

.chat__icon {
  position: absolute;
  bottom: 3rem;
  right: 2rem;
  cursor: pointer;
}

.review__container {
  position: absolute;
  bottom: 7.5rem;
  right: 2rem;
  width: 23.5rem;
  background: white;
}

.review__container .review__container-header {
  width: 100%;
  padding-block: 1rem;
  background: #fec210;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__container .review__container-header svg {
  margin-inline: 1rem;
}

.review__container .review__container-header p {
  font-weight: 700;
}

.review__container .review__container-body {
  padding: 1rem 1.75rem 2rem;
  font-size: 0.875rem;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  overflow-y: scroll;
  max-height: 450px;
}

.review__container .review__container-body img {
  width: 100%;
  min-height: 10rem;
}

.review__container .review__container-body .input-icons {
  margin-top: 0;
}

.review__container .review__container-body .left-comment {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  max-width: 70%;
}

.review__container .review__container-body .left-comment .comment-avatar {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #c4c4c4;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.review__container .review__container-body .left-comment p {
  display: inline-block;
  background: #c4c4c4;
  padding: 0.5rem 1rem;
}

.review__container .review__container-body .right-comment {
  -ms-flex-item-align: end;
      align-self: flex-end;
  max-width: 70%;
  padding: 0.5rem 1rem;
  position: relative;
  background: #fec210;
}

.review__container .review__container-body .right-comment:hover .buttons-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review__container .review__container-body .buttons-group {
  position: absolute;
  right: 0;
  display: none;
  gap: 0.7rem;
}

.review__container .review__container-body .buttons-group .circle-button {
  border-radius: 50%;
  border: 2px solid black;
  background: #fec210;
  width: 2rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.review__container .input-icons svg {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0.75rem;
  color: black;
}

.review__container .comment-input {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 0.95rem;
  border: none;
  border-top: 1px solid black;
}

.review__container .comment-input::-webkit-input-placeholder {
  color: #000;
}

.review__container .comment-input:-ms-input-placeholder {
  color: #000;
}

.review__container .comment-input::-ms-input-placeholder {
  color: #000;
}

.review__container .comment-input::placeholder {
  color: #000;
}

.scroll-div {
  height: 4px;
  width: 100%;
  background: red;
}

.edit-input {
  padding: 0.5rem;
  width: 100%;
  font-size: 0.85rem;
}

.hide {
  display: none;
}
/*# sourceMappingURL=Main.css.map */