@import "../../../style/partials/variables";
@import "../../../style/partials/mixins";

.main {
  margin-left: 450px;
  height: calc(100vh - 88px);
  @include for-size(phone-only) {
    margin-left: 0;
  }
}

.main-container {
  padding: 5.5rem 8rem;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  overflow: hidden;
  height: calc(100vh - 88px);

  &__image {
    align-self: center;
    max-width: 100%;
    min-width: 150px;
    flex-grow: 1;
    overflow: hidden;
    object-fit: contain;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  &__description {
    flex-shrink: 0;
    text-align: center;
    overflow: hidden;
    font-size: 1.5rem;
    font-weight: 900;
    max-width: 80%;
    margin: 0 auto;
    line-height: 1.5;
  }

  @include for-size(phone-only) {
    padding: 1.5rem;
    justify-content: flex-start;

    &__image {
      max-width: 100%;
      flex-grow: 0;
    }

    &__description {
      font-size: 1rem;
      max-width: 100%;
      line-height: 1.35;
      padding-bottom: 4rem;
    }
  }
}

.chat__icon,
.add__icon {
  position: absolute;
  bottom: 3rem;
  cursor: pointer;

  @include for-size(phone-only) {
    bottom: 1.25rem;
  }
}

.chat__icon {
  right: 2rem;

  @include for-size(phone-only) {
    right: 1.25rem;
  }
}

.add__icon {
  width: 3.75rem;
  right: 7.5rem;

  @include for-size(phone-only) {
    right: 5.25rem;
  }
}

.hide {
  opacity: 0 !important;
}

.review {
  position: absolute;
  bottom: 7.5rem;
  right: 2rem;
  width: 23.5rem;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.2s;

  input::placeholder {
    font-weight: 700;
  }

  @include for-size(phone-only) {
    right: 0;
    bottom: 5rem;
    width: 100%;
  }

  .review-header {
    display: flex;
    align-items: center;
    padding-block: 1rem;
    width: 100%;
    background: $clr-yellow;
    &__icon {
      margin-inline: 1rem;
    }
    &__title {
      font-weight: 900;
    }
    @include for-size(phone-only) {
      padding-inline: 1.5rem;
      &__icon {
        display: none;
      }
    }
  }

  .review-body {
    padding: 1rem 1.75rem 2rem;
    font-size: 0.875rem;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    max-height: 450px;

    .input-field {
      input {
        background: transparent;
        padding: 0 0.25rem;
        height: 1.75rem;
        border: 0;
        outline: none;
        border-bottom: 1px solid rgb(44, 44, 44);
        font-size: 0.85rem;
      }

      svg {
        color: rgb(44, 44, 44);
        cursor: pointer;
      }
    }

    @include for-size(phone-only) {
      height: 370px;
    }
    img {
      width: 100%;
      min-height: 10rem;
    }

    .left-comment {
      align-self: flex-start;
      display: flex;
      align-items: center;
      gap: 1rem;
      min-width: 70%;
      .comment-avatar {
        flex-shrink: 0;
        background: $clr-gray;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
      }
      p {
        display: inline-block;
        background: $clr-gray;
        padding: 0.5rem 1rem;
      }
    }
    .right-comment {
      align-self: flex-end;
      max-width: 70%;
      padding: 0.5rem 1rem;
      position: relative;
      background: $clr-yellow;
      &:hover {
        .buttons-group {
          display: flex;
        }
      }
      input {
        width: 100%;
        padding-right: 3rem;
      }
    }
    .buttons-group {
      position: absolute;
      right: 0;
      z-index: 99;
      display: none;
      gap: 0.7rem;
      .circle-button {
        border-radius: 50%;
        border: 2px solid black;
        background: $clr-yellow;
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
  }
  .input-field {
    min-height: 0;
    input {
      width: 100%;
      padding-inline: 1rem 3rem;
      &::placeholder {
        font-size: 1rem;
        font-weight: 500;
        color: black;
      }
    }
    svg {
      color: black;
    }
  }
  .input-icons svg {
    top: 50%;
    transform: translateY(-50%);
    right: 0.75rem;
    color: black;
  }

  .comment-input {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 0.95rem;
    border: none;
    border-top: 1px solid black;
    &::placeholder {
      color: #000;
    }
  }
}

.scroll-div {
  height: 4px;
  width: 100%;
  background: red;
}

.edit-input {
  padding: 0.5rem;
  width: 100%;
  font-size: 0.85rem;
}

#logout-mobile {
  display: none;
  @include for-size(phone-only) {
    display: block;
  }
}
